<% title "Comments" %>
<table>
  <% @comments.each do |comment| %> 
    <tr id="<%= comment.dom_id %>">
      <td><%=h comment.body %></td>
      <td><%=h comment.name %></td>
      <td><%=h comment.url %></td>
      <td class="action"><%= link_to 'Hide', hide_comment_path(comment), :method => :put %></td>
    </tr>
  <% end %>
</table>
