<% title "Delete Similar Comments" %>
<%= form_for similar_comments_path(:id => @comment.id) do |form| %>
  <div data-role='header' data-theme='b'>
    <%= link_to "Cancel", comments_path, 'data-icon' => 'delete'%>
    <h1>Comment</h1>
  </div>
  <div data-role='content' data-theme='d'>
    <p><%= @comment.body %></p>
    <ul data-role='listview' data-inset='true'>
      <li data-role='list-divider' data-dividertheme='a'>From</li>
      <li><%= @comment.name %></li>
      <li><%= @comment.email %></li>
      <% unless @comment.url.blank? %>
        <li><%= @comment.url %></li>
      <% end %>
      <li data-role='list-divider' data-dividertheme='b'>Date</li>
      <li><%= @comment.published_on.to_s :admin %></li>
      <li data-role='list-divider' data-dividertheme='c'>Post</li>
      <li><%= @comment.post.title %></li>
    </ul>
    <h4>Moderate Similar</h4>
    <div data-role='fieldcontain'>
      <fieldset data-role='controlgroup'>
        <% if @countWithSameName > 1 %>
          <input type="checkbox" id="deleteWithName" name="deleteWithName" data-theme='a'/>
          <label for="deleteWithName"><%= "#{@countWithSameName} - Name = #{@comment.name}" %></label>
        <% end %>
        <% if @countWithSameEmail > 1 %>
          <input type="checkbox" id="deleteWithEmail" name="deleteWithEmail" data-theme='a'/>
          <label for="deleteWithEmail"><%= "#{@countWithSameEmail} - Email = #{@comment.email}" %></label>
        <% end %>
        <% if @countWithSameUrl || 0 > 1 %>
          <input type="checkbox" id="deleteWithUrl" name="deleteWithUrl" data-theme='a'/>
          <label for="deleteWithUrl"><%= "#{@countWithSameUrl} - Url = #{@comment.url}" %></label>
        <% end %>
        <% if @countWithSameDomain != @countWithSameUrl %>
          <input type="checkbox" id="deleteWithDomain" name="deleteWithDomain" data-theme='a'/>
          <label for="deleteWithDomain"><%= "#{@countWithSameDomain} - Url =~ #{@commentDomain}" %></label>
        <% end %>
      </fieldset>
    </div>
  </div>
  <div data-role='footer' class='ui-bar' data-theme='b'>
    <% if @comment.published %>
      <%= link_to 'Hide', hide_comment_path(@comment), :method => :put, 'data-icon' => 'alert' %>
    <% else %>
      <%= link_to 'Show', publish_comment_path(@comment), :method => :put, 'data-icon' => 'check' %>
    <% end %>
    <%= form.submit 'Delete', :confirm => 'Are you sure?', 'data-icon' => 'delete' %>
  </div>
<% end %>
