<h1>Blog</h1>

<a href="http://feeds.feedburner.com/trevorpower">Subscribe</a>

  <% @posts.each do |post| %>
  <h2><%= link_to post.title, post %></h2>
  <tr>
    <td><%=h post.slug %></td>
    <td><%= post.body %></td>
    <td><%=h post.published %></td>
    <td><%=h post.published_on %></td>
    <td><%= link_to 'Show', post %></td>
  </tr>
  <% end %>
