<% title "Posts" %>
<div class="content">
  <%= form_for(@post) do |f| %>
    <%= f.error_messages %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.label :slug %>
      <%= f.text_field :slug, :size => "40x20" %>
      <%= f.label :body %>
      <%= f.text_area :body %>
      <%= f.label :published %>
      <%= f.check_box :published %><br />
      <%= f.label :published_on %>
      <%= f.date_select :published_on %><br />
      <%= f.submit 'Update' %>
  <% end %>
  <br clear="both"/>
</div>
