<% title "Edit Post" %>
  <%= form_for(@post) do |f| %>
    <div data-role="header" data-theme="b" data-backbtn='true'>
      <%= link_to 'Cancel', posts_path, 'data-rel' => 'back', 'data-icon' => 'back' %>
      <%= link_to 'Delete', @post, 'data-method' => :delete, 'data-icon' => 'delete', 'data-theme' => 'a', :confirm => 'Are you sure?' %>
      <h2><%= yield(:title) %></h1>
    </div>
    <% if @post.errors.any? %>  
      <div id="errorExplanation">  
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>  
        <ul>  
        <% @post.errors.full_messages.each do |msg| %>  
          <li><%= msg %></li>  
        <% end %>  
        </ul>  
      </div>  
    <% end %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.label :slug %>
      <%= f.text_field :slug %>
      <%= f.label :body %>
      <%= f.text_area :body %>
      <%= f.label :published %>
      <%= f.check_box :published %>
      <%= f.label :published_on %>
      <%= f.date_select :published_on %>
      <div data-role='footer' class='ui-bar' data-theme='b'>
        <%= f.submit 'Update', 'data-icon' => 'check' %>
      </div>
  <% end %>
