<h1>Listing posts</h1>

  <% @posts.each do |post| %>
  <tr id="<%= post.dom_id %>">
    <td><%= link_to post.title, blog_post_path(post) %></td>
    <td><%=h post.title %></td>
    <td><%=h post.slug %></td>
    <td><%=h post.published %></td>
    <td><%=h post.published_on %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Publish', publish_post_path(post), :method => :put %></td>
    <td><%= link_to 'Hide', hide_post_path(post), :method => :put %></td>
    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>

<br />

<%= link_to 'New post', new_post_path %>
