<% title "New Post" %>

<div class="content">
<%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>  
      <div id="errorExplanation">  
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>  
        <ul>  
        <% @post.errors.full_messages.each do |msg| %>  
          <li><%= msg %></li>  
        <% end %>  
        </ul>  
      </div>  
    <% end %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :body %>
    <%= f.text_area :body %>
    <%= f.label :published %>
    <%= f.check_box :published %><br />

    <%= f.label :published_on %>
    <%= f.date_select :published_on %><br />

    <%= f.submit 'Create' %>
<% end %>
</div>
