<% title "Blog" %>

  <ul data-role="listview">

    <li data-role="listdevider" data-theme="e"><a href="http://feeds.feedburner.com/trevorpower">Subscribe</a> to this blog</li>

    <% @posts.each do |post| %>
  
      <li>
        <h2><%= link_to post.title, blog_post_path(:slug => post.slug) %></h2>
        <p><%= HTML_Truncator.truncate(Sanitize.clean(post.body), 80, "...") %></p>
        <%= link_to('read more', blog_post_path(:slug => post.slug)) %>
        <p><b><%=h post.published_on.to_s(:public) %></b></p>
        <% if post.comments.count > 0 %>
          <p class="ui-li-count"><%= post.comments.count == 1 ? "1 comment" : "#{post.comments.count} comments" %></p>
        <% end %>
      </li>
        
    <% end %>
  </ul>
