<% title "Blog" %>

<ul data-role="listview">
  <li data-theme="e"><a href="http://feeds.feedburner.com/trevorpower">Subscribe to this blog</a></li>
  <% @posts.each do |post| %> 
    <li id="<%= post.slug %>">
      <%= link_to blog_post_path(:slug => post.slug) do %>
        <h3><%= post.title %></h3>
        <p><%= HTML_Truncator.truncate(Sanitize.clean(post.body), 80, "...").html_safe %></p>
      <p><b><%=h post.published_on.to_s(:public) %></b></p>
      <% end %>
      <% if post.comments.all(:published => true).count > 0 %>
        <p class="ui-li-count"><%= pluralize(post.comments.all(:published => true).count, 'comment') %></p>
      <% end %>
    </li>
  <% end %>
</ul>
