<% title @post.title %>
<% area :blog %>

<div class='content'>
  <h2><%= link_to h(@post.title), blog_post_path(:slug => @post.slug), :'data-ajax' => 'false' %></h2>
  <span class='date'><%=h @post.published_on.to_s(:public) %></span><br />
  <%= @post.body %>
</div>

<%= render :partial => @comments %>
 
<div class="content">
  <% unless @comment_saved %>
    Leave a comment:
    <% form_for @comment, :url => blog_post_path(:slug => @post.slug) do |f| %>
      <%= f.error_messages %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :email %>
      <%= f.text_field :email %>
      <%= f.label :url %>
      <%= f.text_field :url %>
      <%= f.label :body %>
      <%= f.text_area :body %>
      <%= f.submit 'Add Comment' %>
      <div style="clear: both;"></div>
    <% end %>
  <% else %>
    Your comment has been saved.
  <% end %>
</div>
