<% title @post.title %>
<% area :blog %>

  <h1><%= link_to h(@post.title), blog_post_path(:slug => @post.slug), :'data-ajax' => 'false' %></h1>
  <span class='date'><%=h @post.published_on.to_s(:public) %></span><br />
  <%= @post.body %>

<%= render :partial => @comments %>
 
  <% unless @comment_saved %>
    <div data-role='collapsible' data-collapsed='true' data-theme='c'>
    <h3>Leave a Comment</h3>
    <% form_for @comment, :url => blog_post_path(:slug => @post.slug) do |f| %>
      <%= f.error_messages %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :email %>
      <%= f.text_field :email %>
      <%= f.label :url %>
      <%= f.text_field :url %>
      <%= f.label :body %>
      <%= f.text_area :body %>
      <%= f.submit 'Add Comment' %>
    <% end %>
    </div>
  <% else %>
    Your comment has been saved.
  <% end %>

