<% title @post.title %>
<% area :blog %>

  <p class="notice"><%= flash[:notice] %></p>
  <h1><%= h(@post.title) %></h1>
  <h3><%=h @post.published_on.to_s(:public) %></h3><br />
  <%= @post.body.html_safe %>

  <% if @comments.count > 0 %>
    <h2>Comments</h2>
    <%= render :partial => @comments %>
  <% end %>
   
  <% if @allow_comments %>
    <% unless @comment_saved %>
      <h3>Leave a Comment</h3>
      <%= form_for @comment, :url => save_comment_path(:slug => @post.slug) do |f| %>
        <% if @comment.errors.any? %>  
          <div id="errorExplanation">  
            <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>  
            <ul>  
            <% @comment.errors.full_messages.each do |msg| %>  
              <li><%= msg %></li>  
            <% end %>  
            </ul>  
          </div>  
        <% end %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :email %>
        <%= f.text_field :email %>
        <%= f.label :url %>
        <%= f.text_field :url %>
        <%= f.label :body %>
        <%= f.text_area :body %>
        <%= f.submit 'Add Comment' %>
      <% end %>
    <% else %>
      <h3>Your comment has been saved</h3>
    <% end %>
  <% else %>
    <h3>Commenting has been deactivated, but you can still <%= link_to 'contact me directly', contact_path %>.</h3>
  <% end %>

