<% title "Contact" %>
<% area :contact %>

<div class="content">
  Follow or reply to <a href="http://twitter.com/trevorpower">me on twitter</a>.
</div>

<div class="content">
  Send me an email:
  <% form_for @message, :url => contact_url do |f| %>
    <%= f.error_messages %>
    <%= f.label :name %>
    <%= f.text_field :name, :size => 60 %><br />
    <%= f.label :address, 'Email' %>
    <%= f.text_field :address, :size => 60 %><br />
    <%= f.label :subject %>
    <%= f.text_field :subject, :size => 60 %><br />
    <%= f.label :body, 'Message' %>
    <%= f.text_area :body, :rols => 10, :cols => 60 %><br />
    <%= submit_tag "Send"%>
    <div style='clear: both;'/>
  <% end %>
</div>

