<% title "Contact" %>
<% area :contact %>

        <p class="notice"><%= flash[:notice] %></p>
<h1>Twitter</h1>
<p>You can follow or reply to me on twitter where I go by the name <a href="http://twitter.com/trevorpower">@trevorpower</a></p>

<h1>Email</h1>
<p>You can send me an email using the following form:</p>
  <% form_for @message, :url => contact_url do |f| %>
    <%= f.error_messages %>
    <%= f.label :name %>
    <%= f.text_field :name, :size => 60 %><br />
    <%= f.label :address, 'Email' %>
    <%= f.text_field :address, :size => 60 %><br />
    <%= f.label :subject %>
    <%= f.text_field :subject, :size => 60 %><br />
    <%= f.label :body, 'Message' %>
    <%= f.text_area :body, :rols => 10, :cols => 60 %><br />
    <%= submit_tag "Send"%>
    <div style='clear: both;'/>
  <% end %>

