- title "Contact"
- area :contact
%section
  %h1 Twitter
  %p
    :markdown
      You can follow or reply to me on twitter
      where I go by the name [@trevorpower](http://twitter.com/trevorpower)
%section
  %h1 Email
  %p.notice= flash[:notice]
  %p You can send me an email using the following form:
  = form_for @message, :url => contact_url do |f|
    -if @message.errors.any?
      .errors
        = "#{pluralize(@message.errors.count, "error")} prohibited this email from being sent:"
        %ul
          = list_of(@message.errors.full_messages) do |msg|
            = msg
    %fieldset
      = f.label :name
      = f.text_field :name, :size => 60
      %br/
      = f.label :address, 'Email'
      = f.text_field :address, :size => 60
      %br/
      = f.label :subject
      = f.text_field :subject, :size => 60
    %fieldset
      = f.label :body, 'Message'
      = f.text_area :body, :rows => 8, :cols => 60
    %fieldset.footer
      = submit_tag "Send"
