<% title "Images" %>

  <% form_tag(images_url, :method => :post, :multipart => true) do %>
    <%= file_field_tag 'picture' %>
    <%= submit_tag 'Upload' %>
  <% end %>

<ul data-role="listview">
  <% @images.each do |image| %>
  <li id="<%= image.dom_id %>">
    <img src="<%= image.url %>"/>
    <h3><%= image.url %></h3>
    <%= link_to 'Delete', image_path(image.name), :confirm => 'Are you sure?', :method => :delete %>
  </li>
  <% end %>
</ul>
