<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= yield(:title) || "Admin" %> - Admin - Trevor Power</title>
    <%= stylesheet_link_tag 'scaffold' %>
    <%= stylesheet_link_tag 'admin' %>
  </head>
  <body>
    <div id="header">     
      <%= link_to 'Website', home_path %>
      <%= link_to 'Log Out', logout_path %>

      <h1><%= yield(:title) %></h1>

      <%= link_to 'Posts', posts_path %>
      <%= link_to 'Comments', comments_path %>
      <%= link_to 'Images', images_path %>
    </div>

    <p class="notice"><%= flash[:notice] %></p>

    <%= yield %>
    
  </body>
</html>
