<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || "Admin" %> - Admin - Trevor Power</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.css" />
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag "application" %> 
    <script type="text/javascript" src="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.js"></script>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div data-role="page" data-theme="a" data-back-button-text='Cancel'>

      <%= yield %>
    
    </div>
  </body>
</html>
